:root {
  --primary-color: #f7c873;
  --secondary-color: #434343;
  --primary-ligth-color: #faebcd;
  --gray-one-color: #f8f8f8;
  --gray-two-color: #707070;
}

.App {
  background-color: #fafafa;
  min-height: 100vh;
  box-sizing: border-box;
}

.MuiButton-root {
  text-transform: capitalize !important;
}

.MuiGrid-spacing-xs-2 {
  margin: 0 !important;
}

.App-link {
  color: #61dafb;
}
